body {
    background-image: url(csgo.png);
    background-size: auto;
}

.menu li {
    font style: italic; font size: 20px; list style type: none;
}

.menu li a {
    color: #8B00FF;
}

.menu li {
    list-style-type: none
}

li {
    color: black
}

.b {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.h5 {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left
}

.input {
    color: darkgreen;
    height: 25px;
    width: 200px;
    font-size: 18px;
    text-transform: capitalize;
}


.h {
    color: white
}

.p {
    color: peachpuff;
    font-size: 25px;
}

.a:hover {
    color: greenyellow;
    text-decoration: none;
}

.a {
    color: darkorange;
    text-decoration: none;
}

.A {
    color: skyblue;
    text-decoration: none;
}

.A:hover {
    color: red;
    text-decoration: none;
}
.g {
    color: black}
}
